* {
    font-size: 14px;
}

.rounded-circle{
    background-size: cover;
    box-sizing: border-box;
    max-width: 200px;
}

.img-detail{
    background-size: cover;
    box-sizing: border-box;
    max-width: 150px;
}